.send-button {
  background-color: rgba(25, 135, 84);
  color: #fff;
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.clear-button {
  background-color: rgb(238, 238, 238);
  color: #000;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.chat-input {
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  font-size: 15px;
  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}